<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="margin-top:10px;">
    Welcome to music player!
  </h1>
  <img width="200" alt="Angular Logo" src="../assets/angular-asp-core.png">
  <div class="card" style="margin-left:50px; margin-right:50px; margin-bottom:50px;">
    <div class="card-header" style="font-weight:bold; font-size:x-large;">
      Latest songs in the database
    </div>
    <div class="card-body">
      <div class="table-responsive" style="max-height:385px;">
        <table class="table mb-0" *ngIf="latestSongs && latestSongs.length>0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Author</th>
              <th>Album</th>
              <th>Year</th>
              <th>Duration</th>
              <th>Genre</th>
              <th>Bit rate</th>
              <th>Times played</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let songInfo of latestSongs; let i = index">
              <td>{{ songInfo.name }}</td>
              <td>{{ songInfo.author }}</td>
              <td>{{ songInfo.album.name }}</td>
              <td>{{ songInfo.album.year}} </td>
              <td>{{ songInfo.duration }}</td>
              <td>{{ songInfo.genre }}</td>
              <td>{{ songInfo.bitRate }} </td>
              <td>{{ songInfo.timesPlayed }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
