
  .modal {
    position: absolute;
    overflow: auto;
    overflow-y: auto;
 }

.info {margin-bottom: 45px;}

.bg { 
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.header{
  
}

.pic{
  padding-right: 20px;
}